/* 
    1.Posicionamiento --> static, absolute, relative, fixed
    2.Modelo de caja (Box model) --> margin, border, padding, content
    3.Tipografía --> tipos, tamaños de fuente, etc
    4.Estilos visuales --> box-shadow, border-radius, gradient, etc
    5.Otros --> reglas CSS y más
*/

:root{
    /* fonts */
	--font-sans:'DM Sans', sans-serif;
	--font-inter:'Inter', sans-serif;
	--light: 300;
    --semlight: 400;
    --normal: 500;
    --bold: 700;

    /* colores */
	--bitcoin-orange: #f7931a;
	--soft-orange: #ffe9d5;
	--secondary-blue: #1a9bf7af;
	--soft-blue: #e7f5ff;
	--warm-black: #282623;
	--black: #383737dc;
	--grey: #bababa;
	--off-white: #faf8f7;
	--just-white: #fff; 
}

html
{
	font-size: 62.5%; /* 10px = 1rem */
    font-family: var(--font-sans), sans-serif;
    box-sizing: border-box;
}

*, *::before, *::after
{
	box-sizing: inherit;
	margin:0;
	padding:0;
}

header
{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-width: 320px;
	height: 334px;
	text-align: center;
	background:linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img
{
	width: 150px;
	height: 24px;
	margin-top: 60px;
}

.header__title__container
{
	width: 90%;
	min-width: 288px;
	max-width: 900px;
	height: 218px;
	margin-top: 40px;
}

.header__title__container h1
{
	font-size: 2.4rem;
	font-weight:var(--bold);
	/* altura entre lineas */
	line-height: 2.6rem;
	color:var(--just-white)
}

.header__title__container p
{
	margin-top: 25px;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.8rem;
	color: var(--soft-orange);
}

.header__title__container .header__button {
	position: absolute;
	top: 270px;
	left: calc(50% - 115px);
	display: block;
	margin-top: 35px;
	padding: 15px;
	width: 229px;
	height: 48px;
	background-color: var(--off-white);
	/* sombra */
	box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
	border: none;
	border-radius: 5px;
	font-size: 1.4rem;
	font-weight: bold;
	text-decoration: none;
	color: var(--black);
}

.header__button span
{
	display: inline-block;
	width: 13px;
	height: 8px;
	margin-left: 10px;
	background-image: url('./assets/icons/down-arrow.svg');
}

main
{
	width: 100%;
	/* tamaño minimo mobil s */
	min-width: 320px;
	height: auto;
	background-color: var(--off-white);
}

.main__exchange__container
{
	width: 100%;
	height: auto;
	padding-top: 80px;
	padding-bottom: 30px;
	text-align: center;
}

.main__exchange__container__title
{
	width: 90%;
	min-width: 238px;
	max-width: 900px;
	margin: 0 auto;
}

.main__exchange__container .backgroundImg
{
	width: 200px;
	height: 200px;
	margin: 0 auto;
	margin-bottom: 50px; 
	background-image: url('./assets/img/Bitcoin.svg');
	/* cuando la imagen comienza a crecer */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.main__exchange__container h2 
{
	margin-bottom: 30px;
	font-size: 2.4rem;
	font-weight: var(--bold);
	line-height: 2.6rem;
	color: var(--black);
}

.main__exchange__container p
{
	margin-bottom: 30px;
	font-size: 1.4rem;
	font-weight: var(--normal);
	line-height: 1.6rem;
	color: #757575;
}

.currency
{
	font-family: var(--font-inter), sans-serif;
	/* scroll horizontal con flex*/
	display: flex;
	gap: 10px;
	align-items: center;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
}

/* tablas con flechas */
.currency__container1, .currency__container2{
	display: flex;
	align-items: center;
	scroll-snap-align: start;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
} 

/* modelo de tabla */
.currency__table
{
	/* controla el tamaño de la tabla */
	width: 63%;
	min-width: 230px;
	max-width: 300px;
	height: 360px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.currency__table .currency__table__title
{
	margin-bottom: 15px;
	color: var(--bitcoin-orange);
	font-weight: var(--bold);
	font-size: 1.8rem;
	line-height: 2.3rem;
}

#table2 .currency__table__title 
{
	color: var(--secondary-blue);
}

.currency__grid__container
{
	width: 100%;
	height: 250px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 3px;
	border-radius: 8px;
	color: #757575;
	margin-bottom: 15px;
}   

.currency__grid__container .grid__child
{
	display: flex;
	align-items: center;
	justify-content: left;
	background-color: var(--just-white);
	font-size: 2rem;
	font-weight: var(--normal);
	padding-left: 10px;
}

.currency__grid__container .grid__child:nth-child(1) 
{
	border-radius: 15px 0 0 0;
}

.currency__grid__container .grid__child:nth-child(2) 
{
	border-radius: 0 15px 0 0;
}

.currency__grid__container .grid__child:nth-child(7) 
{
	border-radius: 0 0 0 15px;
}

.currency__grid__container .grid__child:nth-child(8) 
{
	border-radius: 0 0 15px 0;
}

.grid__child span 
{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display:inline-block;
	width: 20px;
	height: 20px;
	margin-left: 10px;
}

.grid__child .up
{
	background-image: url(./assets/icons/trending-up.svg);
}

.grid__child .down
{
	background-image: url(./assets/icons/trending-down.svg);
} 

.currency__table .currency__table__update
{
	background-color: var(--soft-orange);
	border-radius: 8px;
}

.currency__table__update p
{
	margin: 7px;
	font-size: 1.2rem;
	color: var(--black);
	font-weight: var(--bold);
}

#table2 .currency__table__update 
{
	background-color: var(--secondary-blue);
	border-radius: 8px;
	color: var(--just-white);
}

/* estilo de la seccion de  beneficios */

.main__product__detail
{
	position: relative;
	width: 100%;
	min-width: 320px;
	height:auto;
	/* padding para las tarjetas internas */
	padding: 20px 10px;
	background-color: var(--warm-black);
}

.product__detail__batata__logo
{
	position: absolute;
	top: -12px;
	/* 2rem la mitad del witdh del elemento */
	left: calc(50% - 20px);
	width: 40px;
	height: 25px;
	background-image: url('./assets/icons/batata.svg');
}

.product__detail__title
{
	width: 90%;
	min-width: 288px;
	height: auto;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
}

.product__detail__title h2
{
	margin-bottom: 20px;
	font-size: 2.4rem;
	font-weight: var(--bold);
	line-height: 2.6rem;
	color:var(--just-white)
}

.product__detail__title p
{
	margin-bottom: 20px;
	font-size: 1.4rem;
	font-weight: var(--normal);
	color: #808080;
}

/* estilos de las tarjetas */

.product__detail__card
{
	width: 90%;
	min-width: 288px;
	max-width: 400px;
	height: 150px;
	margin: 15px auto;
	padding: 15px;
	background-color: var(--black);
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

/* estilo de iconos*/

.product__detail__card .icon__card
{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-bottom: 10px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.clock
{
	background-image: url('./assets/icons/clock.svg');
}

.eye {
    background-image: url('./assets/icons/eye.svg')
}

.dollar {
    background-image: url('./assets/icons/dollar-sign.svg');
}

.circle{
    background-image: url('./assets/icons/check-circle.svg');
}

.product__card__title
{
	margin-bottom: 15px;
	font-size: 1.8rem;
	font-weight: bold;
	line-height: 1.8rem;
	color: var(--just-white);
}

.product__card__body
{
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.8rem;
	color: #808080;
}

/* estilo de la sección comodín */

.bitcoin__img__container
{
	width: 100%;
	min-width: 32px;
	height: 50vh;
	background-image:url(./assets/img/bitcoinbaby2x.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.bitcoin__img__container h2
{
	padding-top: 60px;
	font-size: 2.4rem;
	font-weight: var(--bold);
	line-height: 2.6rem;
	color: var(--just-white);
	text-align: center;
}

/* estilos de la sección de planes */

.main__plans__container
{
	width: 100%;
	min-width: 320px;
	padding-bottom: 70px;
	text-align: center;
}

.plans__title
{
	width: 90%;
	min-width: 288px;
	height: auto;
	margin: 0 auto;
	margin-bottom: 50px;
}

.plans__title h2
{
	padding-top: 50px;
	font-size: 2.4rem;
	font-weight: bold;
	line-height: 2.6rem;
	color: var(--warm-black);
}

.plans__title p
{
	padding-top: 30px;
	font: 1.4rem;
	font-weight: var(--normal);
	line-height: 1.8rem;
	color: #757575;
}

/* scroll */

.plans__container__slider
{
	display: flex;
	/* un poco mas alto que las tarjetas */
	height: 316px;
	overflow-x:auto;
	overscroll-behavior-x: contain; 
	scroll-snap-type: x mandatory;
	scroll-padding: 50%;
}

.plans__container__card
{
	position: relative;
	/* intenta centra la tarjeta cuando se hace scroll */
	scroll-snap-align: center;
	scroll-snap-stop: always;
	width: 70%;
	min-width: 190px;
	max-width: 300px;
	height: 250px;
	margin: 50px 5px 0;
	padding: 0 15px;
	background-color: var(--just-white);
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.plans__container__card .recommended, .basic, .limit
{
	position: absolute;
	width: 120px;
	height: 31px;
	top:-15px;
	left: calc(50% - 60px);
	font-size: 1.2rem;
	padding: 6px;
	background-color: var(--bitcoin-orange);
	border-radius: 8px;
	color: var(--just-white);
}

.plans__container__card .basic{
    background-color: var(--secondary-blue);
}

.plans__container__card .limit{
    background-color: purple;
}

.plan__card__title
{
	padding-top: 30px;
	font-size: 1.4rem;
	font-weight: 500px;
	line-height: 1.8rem;
	color: var(--black);
}

.plan__card_price
{
	padding: 5px 0;
	font-size: 5.2rem;
	font-weight: bold;
	color: black;
}

.plan__card_price sup
{
	font-size: 2rem;
	font-weight: 300;
}

.plan__card__saving
{
	font-size: 1.2rem;
	color:#757575;
}

.plan__card__ca
{
	width: 150px;
	height: 48px;
	margin-top: 20px;
	background-color: #faf8f7;
	border: 2px solid var(--bitcoin-orange);
	border-radius: 4px;
	font-family: "DM Sans", sans-serif;
	font-size: 1.4rem;
	font-weight: bold;
	line-height: 1.8rem;
	color: var(--warm-black);
}

.plan__card__ca span
{
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url("./assets/icons/orange-right-arrow.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	vertical-align: text-bottom;
}

/* footer */

footer
{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	height: 150px;
	background-color: var(--bitcoin-orange);
}

footer .footer__left ul
{
	font-size: 1.4rem;
	font-weight: 500px;
	line-height: 1.8rem;
	list-style: none;
}

.footer__left li
{
	margin: 10px 0;
}

.footer__left a
{
	text-decoration: none;
	color: var(--just-white);
}

.footer__left a:hover {
    text-decoration: underline;
}